<div class="alert alert-warning" role="alert" ng-show="apresentarMsgNaoHaPedidos(dadosPedido)">
  Nao Ha Pedidos.
</div>

<div class="alert alert-danger" role="alert" ng-show="apresentarMsgErroCarregarPedidos(dadosPedido)">
  Erro ao Carregar Pedidos.
</div>

<div class="table-responsive" style="height:300px; overflow-y:scroll;">
  <table class="table table-striped table-bordered" ng-show="apresentarTabela(dadosPedido)" > 
    <thead class="thead-dark">
      <tr>
        <th>Contato</th>
        <th>Entrega</th>
        <th>Troco</th>
        <th>Desconto</th>
        <th>Total</th>
        <th>Estatus</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pedido in dadosPedido.pedidos">
        <td>{{pedido.contato}}</td>
        <td>{{pedido.entrega}}</td>
        <td>{{pedido.trocoString}}</td>
        <td>{{pedido.descontoString}}</td>
        <td>{{pedido.totalString}}</td>
        <td>
            <input type="image" src="imagem/eye-2x.png" title="Itens do Pedido" data-toggle="modal" data-target="#exampleModal" ng-click="carregarItensPedido(pedido.id)"/>
            <span class="badge badge-success" ng-show="pedido.entregue">{{pedido.status}}</span>
            <span class="badge badge-secondary" ng-show="pedido.pronto">{{pedido.status}}</span>
            <span class="badge badge-info" ng-show="pedido.realizado">{{pedido.status}}</span>
            <input type="image" src="imagem/circle-check-2x.png" title="Pedido Pronto" ng-show="pedido.realizado" ng-click="pedidopronto(pedido)"/>
            <input type="image" src="imagem/thumb-up-2x.png" title="Pedido Entregue" ng-show="pedido.pronto" ng-click="pedidoentregue(pedido)"/>
            <input type="image" src="imagem/circle-x-2x.png" title="Cancelar Pedido" ng-click="pedidocancelado(pedido)"/>

        </td>
      </tr>
    </tbody>
  </table>
</div>